<h1>Top#index</h1>
<p>Find me in app/views/top/index.html.erb</p>

<% content_for :head do %>
  <%= stylesheet_link_tag gulp_asset_path('application.bundle.css') %>
<% end %>

<% content_for :foot do %>
  <%= javascript_include_tag gulp_asset_path('application.bundle.js') %>
<% end %>
