<!DOCTYPE html>
<html>
<head>
  <title>RailsWithGulp</title>
  <%= csrf_meta_tags %>
  <%= yield :head if content_for?(:head) %>
</head>
<body>

<%= yield %>

<%= yield :foot if content_for?(:foot) %>
</body>
</html>
